[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aws-cdk-lib = "*"
constructs = "*"

[dev-packages]
boto3 = "*"
pre-commit = "*"
isort = "*"
black = "*"

[requires]
python_version = "3.10"
